<h1>Profiles controller, edit action</h1>

<%= form :action => url(:controller => 'profiles', :action => 'update', :id => @profile.id), :id => 'profile-form' do %>
  <%= partial 'form' %>
<% end =%>

<%= link_to 'Back', url(:profile, @profile.id) %>
