<h2><%= link_to 'New Profile', url(:new_profile) %></h2>
<h2>All Profiles</h2>

<ul>
<%- @profiles.each do |profile| -%>
  <li><tt><%=h profile.id %></tt><%= link_to profile.name, url(:profile, profile.id) %></li>
<%- end -%>
</ul>

